* {
	margin: 0;
	padding: 0;
	outline: 0;
}
body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #e5e5e5;
	font-size: 12px;
	background: #bfbfbf;
	overflow: hidden !important
}
html {
	overflow: hidden !important
}
h1,
h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0 0 15px 0;
}
h1 {
	font-size: 36px;
	letter-spacing: -1px;
	line-height: 100%;
}
h2 {
	font-size: 24px;
}
p {
	margin: 0 0 15px 0;
}
a {
	color: #3e3e3e;
}
//NAV
#nav-selector {
	background-color: white;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	background: white;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
	width: 16px;
	height: 16px;
	margin: -8px 0 0 -8px;
	background: white;
	box-sizing: border-box;
	border: 1px solid #24221F;
}
//HOME SLIDE
#first-section {
	padding-top: 0;
}
#slide-1-wrapper {}
#first-section-row {
	position: relative
}
#main-picture-wrapper {
	position: relative;
}
#main-picture {
	max-height: 400px;
	width: auto;
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	bottom: 0px;
	margin: auto;
}
@media screen and (max-width: 500px) {
	#main-picture {
		position: absolute;
		top: 0px;
		left: 0;
		right: 0;
		bottom: 0px;
		margin: auto;
	}
	#slide-1-wrapper {
		position: absolute;
		top: 0px;
		bottom: 440px;
		padding-bottom: 15px;
		margin: auto;
		min-height: 100px
	}
	#about-wrapper {
		padding-left: 5px;
		padding-right: 5px;
	}
	#skills-header {
		padding-top: 40px
	}
	.skills h3 {
		font-size: 3em;
		text-decoration: underline
	}
	.wow {
		visibility: visible !important;
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}
//ABOUT ME SLIDE
#about-wrapper {
	border-left: 2em;
	border-right: 1.5em;
}
//SKILLS SLIDE
ul {
	list-style-type: none;
}
#skills-header {
	text-align: center;
	padding-bottom: 20px;
}
.skills {
	h3 {
		text-align: center;
		font-size: 2em;
		padding-top: 9px;
		padding-bottom: 6px;
	}
	;
	li {
		text-align: center;
		padding-bottom: 7px;
	}
	;
	.slide {
		font-size: 1.5em;
	}
}
//PORTFOLIO SLIDE
.slide {
	text-align: center;
	font-size: 3em;
	color: white;
}
.slide:hover {
	color: yellow;
}
.slide-wrapper a {
	color: aliceblue;
	font-size: .5em
}
#portfolio-header {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
}
.slide-wrapper {
	width: 100%
}
//CONTACT SLIDE
#email-button {
	margin-top: 30px;
	border-radius: 5px;
}
#contact-inner {
	text-align: center;
	width: 100%;
}
.clear {
	clear: both;
}
.wrap {
	width: 100%;
	max-width: 1600px;
	min-width: 320px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0;
}
.section {
	width: 100%;
	max-width: 1600px;
	min-width: 320px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0 0 20px 0;
	height: 500px;
}
.inner {
	min-width: 320px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	padding: 0 20px 0 40px;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.inner:after {
	content: "";
	display: table;
	clear: both;
}
.subMenu {
	min-height: 50px;
	z-index: 1000;
	width: 100%;
	background: #0977bc;
}
.subMenu .inner {
	font-weight: 400;
	margin: 0 auto;
	padding: 0
}
.subNavBtn {
	display: block;
	height: 50px;
	width: 14%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 15px 2% 0 2%;
	text-align: center;
	color: #fff;
}
.subMenu a:hover {
	background: #1783c7;
}
.end {
	margin: 0;
}

/* SECTIONS */

.sTop {
	min-height: 130px;
	background: #fff;
	color: #3d3d3d;
	padding: 50px 0;
	height: 300px;
}
.about {
	background: #184764;
	color: #fff;
}
.skills {
	background: #313131;
}
.skills a {
	color: #fff;
}
.portfolio {
	background: #1b83b3;
}
.contact {
	background: #5aa3c4;
}
.hireme {
	background: #bce1f1;
	color: #3d3d3d;
}
.s6 {
	background: #161616;
}
//ANIMATIONS
#main-picture-wrapper,
#slide-1-wrapper {
	-webkit-animation-duration: 3s;
	
	#about-header {
		-webkit-animation-duration: 3s;
		-webkit-animation-delay: 1s;
	}
	#about-subheader {
		-webkit-animation-duration: 4s;
		-webkit-animation-delay: 6s;
	}
	#about-p1 {
		-webkit-animation-duration: 5s;
		-webkit-animation-delay: 12s;
	}
	#about-p2 {
		-webkit-animation-duration: 6s;
		-webkit-animation-delay: 18s;
	}
}
