<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>Matt Fewer | Web Developer</title>
	<link rel='shortcut icon' type='image/x-icon' href='img/favicon.ico' />
	<link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/animate.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/foundation.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/personalwebsite.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/animate.css">
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="wrap" id="fullpage">

		<div id="first-section" class="section sTop active">
			<div id="first-section-row" class="row inner">
				<div id="slide-1-wrapper" class="wow rollIn small-12 medium-6 columns">
					<h1 class="title">Hello!</h1>
					<h2 class="subtitle">My name is Matt Fewer</h2>
					<h3>I'm a Web Developer</h3>
				</div>

				<div id="main-picture-wrapper" class="wow flipInX small-12 medium-6 columns">
					<img id="main-picture" src="img/gapro_headshot.png" alt="Matt Fewer">
				</div>
			</div>
		</div>

		<div class="section about">
			<div id="about-wrapper" class="inner row">
				<div class="wow slideInRight small-12 columns">
					<h1 id="about-header">Hi there! I'm Matt.</h1>
				</div>

				<div class="small-12 columns">
					<h3 id="about-subheader" class="wow slideInRight">A few fun facts...</h3>
					<p id="about-p1" class="wow slideInRight">I'm a full stack developer and musician born and raised on Long Island, NY. I have 2 dogs, Lucy &amp; Bella. I mainly play a Fender Strat and I read a lot of books. I also work as an Audio/Video Technician.</p>
				</div>

				<div class="small-12 columns">
					<p id="about-p2" class="wow slideInRight"> I help businesses and individuals build their web presence.</p>
				</div>
			</div>
		</div>

		<div class="section skills">
			<div class="inner row">
				<h1 id="skills-header" class="wow slideInDown">Web Development</h1>
				<div id="front-end" class="wow slideInUp skills medium-4 small-12 columns">
					<h3>Front End</h3>
					<ul>
						<li>JavaScript</li>
						<li>jQuery</li>
						<li>Backbone</li>
						<li>Angular</li>
						<li>HTML/CSS</li>
						<li>Sass</li>
						<li>Three.js</li>
						<li>WebGL</li>
						<li>Underscore.js</li>
					</ul>
				</div>

				<div id="back-end" class="wow slideInUp skills medium-4 small-12 columns">
					<h3>Back End</h3>
					<ul>
						<li>Node.js</li>
						<li>Express.js</li>
						<li>Ruby on Rails</li>
						<li>Sinatra</li>
						<li>SQL, MySQL, &amp; Sqlite3</li>
						<li>MongoDB &amp; PostgreSQL</li>
					</ul>
				</div>

				<div id="techniques" class="wow slideInUp skills medium-4 small-12 columns">
					<h3>Techniques</h3>
					<ul>
						<li>Git</li>
						<li>Object Oriented Programming</li>
						<li>MVC / MV*</li>
						<li>Agile Development</li>
						<li>Game Logic</li>
					</ul>
				</div>

			</div>
		</div>

		<div class="section portfolio">
			<div id="portfolio-wrapper" class="wow slideInUp inner row">
				<!--
				<div class="small-12 columns">
					<div id="portfolio-header">
						<h1>Portfolio</h1>
					</div>
				</div>
-->

				<div class="small-10 small-centered">
					<div class="slide" target="_blank">
						<div class="slide-wrapper">
							<a target="_blank" href="http://www.oxideous.com/retro-express"><img src="img/rexmenu.png" alt="Rex" /></a>
							<a target="_blank" href="http://www.oxideous.com/retro-express">Click to view</a>
						</div>
					</div>

					<div class="slide" target="_blank">
						<div class="slide-wrapper">
							<a target="_blank" href="http://45.55.206.166:3000/tsrh"><img src="img/tsrh_home.png" alt="tsrh" /></a>
							<a target="_blank" href="http://45.55.206.166:3000/tsrh">Click to view</a>
						</div>
					</div>

					<div class="slide" target="_blank">
						<div class="slide-wrapper">
							<a target="_blank" href="https://fast-harbor-6565.herokuapp.com/"><img src="img/static_home.png" alt="static-address"></a>
							<a target="_blank" href="https://fast-harbor-6565.herokuapp.com/">Click to view</a>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="section contact">
			<div id="contact-inner" class="inner row">
				<div class="small-12 columns">
					<h2 class="wow slideInDown"><i>Have a cool project in mind, and think I can help you with it?</i></h2>
					<a id="email-button" class="large button success wow flash" href="mailto:mattfewer@hotmail.com">Email Me!</a>
					<div class="row">
						<div id="social-icons-row" class="medium-5 medium-centered small-12 columns">
							<div class="row">

								<div class="small-3 columns">
									<a target="_blank" href="https://github.com/mattyfew"><img class="social-icon hvr-grow" src="img/github_icon.png" alt="Github"></a>
								</div>

								<div class="small-3 columns">
									<a target="_blank" href="https://www.linkedin.com/in/mattfewer"><img class="social-icon hvr-grow" src="img/linkedin_icon.png" alt="LinkedIn"></a>
								</div>

								<div class="small-3 columns">
									<a target="_blank" href="https://www.instagram.com/mattyfew/"><img class="social-icon hvr-grow" src="img/insta_icon.png" alt="Instagram"></a>
								</div>

								<div class="small-3 columns">
									<a target="_blank" href="https://www.presskit.to/mattfewer"><img class="social-icon hvr-grow" src="img/music_icon.png" alt="Music"></a>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Close fullpage-->
	<script type="text/javascript" src="scripts/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/foundation.min.js"></script>
	<script type="text/javascript" src="scripts/jquery.easings.min.js"></script>
	<script type="text/javascript" src="scripts/jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="scripts/jquery.fullPage.js"></script>
	<script type="text/javascript" src="scripts/wow.min.js"></script>
	<script type="text/javascript" src="scripts/personalwebsite.js"></script>
</body>

</html>
