<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>About Me</title>
	<link rel="stylesheet" href="stylesheets/normalize.css">
	<link rel="stylesheet" href="stylesheets/animate.css">
	<link rel="stylesheet" href="stylesheets/foundation.min.css">
	<link rel="stylesheet" href="stylesheets/personalwebsite.css">
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
	<% include nav.html.ejs %>

		<div class="small-10 columns">
			<h1 id="about-head">Hi,</h1>
			<div class="row" id="about-intro">
				<div class="small-12 columns">
					<h3 id="about-subheader">I am a <strong>Full Stack Web Developer</strong> based in Long Island, New York. Since graduating from General Assembly, I have continued to build and design beautiful designs with next-level functionality.</h3>
					<br>
				</div>
			</div>
			<!--		SKILLS SECTION		-->
			<div id="skills-container">
				<div class="row">
					<div id="skills-row" class="small-6 small-centered">
						<h2 id="about-skills-header">Skills</h2>
						<div class="row">
							<div class="small-6 columns">
								<ul class="half">
									<li>JavaScript</li>
									<li>Express.js</li>
									<li>Node.js</li>
									<li>Three.js</li>
									<li>jQuery</li>
									<li>Git</li>
								</ul>
							</div>
							<div class="small-6 columns">
								<ul class="half">
									<li>HTML/CSS</li>
									<li>Backbone.js</li>
									<li>Angular.js</li>
									<li>Ruby</li>
									<li>Ruby on Rails</li>
									<li>SASS</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<!--	closes nav div	-->
</body>

</html>
