<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Personal Website</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/animate.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/foundation.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/personalwebsite.css">
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="wrap" id="fullpage">
		<div class="section sTop">
			<div class="inner">
				<h1 class="title">Welcome!</h1>
				<h2 class="subtitle">My name is Matt Fewer</h2>
				<h3>I'm a Web Developer</h3>
			</div>
		</div>

		<div class="section about">
			<div class="inner">
				<h1>About Me</h1>
				<p>I work really hard and occassionally make something super cool.</p>
			</div>
		</div>

		<div class="section skills">
			<div class="inner">
				<h1>Skills</h1>
				<p><a href="#contact" class="intLink">Internal Link: Jump to Portfolio</a></p>
				<p><a href="#sTop" class="intLink">Internal Link: Back to Top</a></p>
			</div>
		</div>

		<div class="section portfolio">
			<div class="inner">
				<h1>Portfolio</h1>
			</div>
		</div>

		<div class="section contact">
			<div class="inner">
				<h1>Contact</h1>
			</div>
		</div>

		<div class="section hireme">
			<div class="inner">
				<h1>Hire Me</h1>
			</div>
		</div>

	</div>

	<script type="text/javascript" src="scripts/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/jquery.easings.min.js"></script>
	<script type="text/javascript" src="scripts/jquery.fullPage.js"></script>
	<script type="text/javascript" src="scripts/foundation.min.js"></script>
	<script type="text/javascript" src="scripts/personalwebsite.js"></script>
</body>

</html>
