<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>My Personal Website</title>
	<link rel="stylesheet" href="stylesheets/normalize.css">
	<link rel="stylesheet" href="stylesheets/animate.css">
	<link rel="stylesheet" href="stylesheets/foundation.min.css">
	<link rel="stylesheet" href="stylesheets/personalwebsite.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
	<% include nav.html.ejs %>
		
	<div id="right-container" class="small-10 columns">
		<h1 id="main-header">WELCOME</h1>
		<img id="profile-picture" class="animated shake" src="img/my_face.jpg" alt="my face">
		<p>Hi Everyone! Thanks for visiting my webpage! I'm a full stack developer with plenty of experience with web development. I also play guitar and write music too! Also if you have any need for an Audio Video Technician, I can also do that too!</p>
	</div>
			
	</div> <!--	closes nav div	-->

	
	
	
	
	
	
	
	
	
	
	
	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/foundation.min.js"></script>
	<script type="text/javascript" src="scripts/personalwebsite.js"></script>
</body>

</html>
