<div class="row">
	<div id="navigation-bar" class="small-2 columns">
		<div class="hamburger-slim"></div>
		<div id="nav-links">
			<a href="/about">About</a> <br>
			<a href="#">Portfolio</a> <br>
			<a href="#">Contact</a> <br>
		</div>
	</div> 
	<!--	closes nav div	-->